{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block link %}<link type="text/css" href="{% static 'main/css/archlist.css' %}" rel="stylesheet"  />{% endblock link %}

{% block title %}<title>Список архітектур</title>{% endblock title %}

{% block  MainContent%}
            {% get_architectures as architectures%}
            {% for arch in  architectures %}
                <div class="Arch">
                    <div class="Name">{{arch.name}}</div>
                    <div class="Descr">{{arch.describe}}</div>
                    <img class="Image" src="{{arch.photo.url}}" alt="">
                </div>
            {% endfor %}
{% endblock MainContent %}