{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'main/css/base.css' %}" rel="stylesheet"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    {% block link %}{% endblock link %}
    {% block title %}<title>Головна сторінка</title>{% endblock title %}
</head>
<body>
    <div class=Page>
        <div class="UpContent">
            <a href="{% url 'home' %}"><img class="MainPageIcon" src="{% static 'main/images/mainPage.png '%}" alt="YOY"/></a>
            <div class="MainCathegorys">
                {% for m in menu %}
                    <a href="{% url m.url_page %}">{{m.title}}</a>
                {% endfor %}    
            </div>
            <div class="LeftContent">
                <div class="item">
                    <a class="sub-btn">Опис</a> 
                    <div class="sub-menu">
                        {% for m in left_menu %}
                            <div  class="sub-item"><a href="{% url m.url_page%}">{{m.title}}</a></div> 
                        {% endfor %}
                    </div> 
                </div>
                <div class="item">
                    <a class="sub-btn">Додати</a> 
                    <div class="sub-menu">
                        {% for m in add_menu %}
                            <div  class="sub-item"><a href="{% url add_menu_name m.slug %}">{{m.title}}</a></div> 
                        {% endfor %}
                    </div> 
                </div>
            </div>
        </div>
        <div class="MainContent">
            {% block  MainContent%}

            {% endblock MainContent %}
            </div>
        </div>
        <div class="DownContent" style="color: white;">
            The source code is on github under the GPLv3 license
        </div>
    </div>
   
    <script src="{% static 'main/js/drop.js'%}"></script>
</body>
</html>