{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'main/css/style.css' %}" rel="stylesheet"  />
    <title>Головна сторінка</title>
</head>
<body>
    <div class=Page>
        <div class="UpContent">
            <a href="{% url 'home' %}"><img class="MainPageIcon" src="{% static 'main/images/mainPage.png '%}" alt="YOY"/></a>
            <div class="MainCathegorys">
                <a href="">ПК</a>
                <a href="">Мейнфрейми</a>
                <a href="">Смартфони</a>
                <a href="">Ігрові консолі</a>
                
               
                
            </div>
            <img class="OtherIcon" src="{% static 'main/images/three_points.png '%}">
        </div>
        <div class="MainContent">
            {% block  MainContent%}
            авыаааыв
            {% endblock  %}
        </div>
        <div class="DownContent" style="color: white;">
            The source code is on github under the GPLv3 license.
        </div>
    </div>
   

</body>
</html>