{% extends 'main/base.html' %}
{% load static %}

{% block link %} <link type="text/css" href="{% static 'main/css/main.css' %}" rel="stylesheet" />{% endblock link %}

{% block MainContent %}
    <div>
        <div class="Label">Архітектури</div>
        <img class="Icon" src="{% static 'main/images/arch.png' %}"/>
        <a class="BTN" href="{% url urls.arch %}"><div>Перейти</div></a>
    </div>

    <div>
        <div class="Label">Процессори</div>
        <img class="Icon" src="{% static 'main/images/Proc.png' %}"/>
        <a class="BTN" href="{% url urls.proc %}"><div>Перейти</div></a>

    </div>

    <div>
        <div class="Label">Категорії пристроїв</div>
        <img class="Icon" src="{% static 'main/images/other.png' %}"/>
        <a class="BTN" href="{% url urls.cat %}"><div>Перейти</div></a>
    </div>


{% endblock MainContent %}